

<div class="card m-3" style="min-width: 18rem;max-width: 30.5%;">
    <div class="card-header">
        <h3>@Employee.FirstName @Employee.LastName</h3>
    </div>
    <img class="card-img-top imageThumnail" src="@Employee.PhotoPath">
    @if (ShowFooter)
    {
        <div class="card-footer text-center">
        <a href="@($"employeedetails/{Employee.EmployeeId}")" class="btn btn-primary m-1">View</a>
        <a href="@($"editemployee/{Employee.EmployeeId}")" class="btn btn-primary m-1">Edit</a>
        <button class="btn btn-danger m-1" onclick="@Delete_Click">Delete</button>
    </div>
    }
</div>
<Re_Useable_web_razor.DeleteConfirm @ref="DeleteConfirm" ConfirmationChanged="Confirm_DeleteClick" ConfirmationMessage=@($"Are you sure you want to delete \"{Employee.FirstName}\"")></Re_Useable_web_razor.DeleteConfirm>