@page "/employeedetails/{id}"
<h3>EmployeeDetails</h3>
@if(Employee == null)
{
    <div class="spinner"></div>
}
else
{
    <div class="row justify-content-center m-3">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header">
                    <h4>@(Employee.Gender == 0 ? "Mr" : "Mrs") @Employee.FirstName @Employee.LastName @ToaDo</h4>
                </div>
                <div class="card-body text-center">
                    <img class="card-img-top" src="@Employee.PhotoPath" @onmousemove ="@GetToaDo"/>
                    <p>Employee ID: @Employee.EmployeeId</p>
                    <p>Email: @Employee.Email</p>
                    <p>DepartmentID: @Employee.DeparmentId</p>
                    <p>DeparmentName: @Employee.DeparmentName</p>
                </div>
                <div class="card-footer text-center">
                    <button class="btn btn-primary" @onclick="@HideButtonClick">@ButtonName</button>
                </div>
                <div class="card-footer text-center @CssClass">
                    <a href="/" class="btn btn-primary">Back</a>
                    <a href="@($"editemployee/{Employee.EmployeeId}")" class="btn btn-primary">Edit</a>
                    <a href="#" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
}

